@font-face {
    font-family: Cookie-Regular;
    src: url("assets/fonts/Cookie-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Parisienne-Regular;
    src: url("assets/fonts/Parisienne-Regular.ttf");
    font-weight: 500;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    background-color: rgba(238, 175, 238, 0.356);
    margin: 0;
}




.nav-item {
    min-width: auto;
}

.contact-list,
.work,
.education,
.languages {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}




body {
    font-family: Cookie-Regular, calligraphy;
    font-size: 40px;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.head {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.head img {
    margin: 0 15%;
    border: 5px solid rgba(238, 175, 238, 0.356);
    border-radius: 70%;
}



.important {
    order: 2;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    flex-grow: 1;
    align-self: flex-end;


}

h1::after {
    content: "";
    position: relative;
    left: 25%;
    display: block;
    width: 50%;
    height: 5px;
    background-color: rgba(238, 175, 238, 0.356);
}

h2 {
    position: relative;
    bottom: 50px;
}


#contacts::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgba(238, 175, 238, 0.356);

}

#contacts {
    margin-top: 0%;
}